<table>
    <button (click)="inItNewGrade()">Create New Grade </button>
    <thead class="hdr">
        <th>Id</th>
        <th>CementBrand</th>
        <th>CementGrade</th>
        <th>BrickType</th>
        <th>AggregateGrade</th>
        <th></th>
        
        
    </thead>
    <tbody class="bdr">
        <tr *ngFor="let Hero of quality">
            <td>{{Hero.id}}</td>            
            <td>{{Hero.cementbrand}}</td>
            <td>{{Hero.gradeofcement}}</td>
            <td>{{Hero.bricktype}}</td>
            <td>{{Hero.gradeofaggregate}}</td>
            
            <td><button (click)="editgrade(Hero)">Edit</button></td>
        </tr>
    </tbody>
</table>

<app-edit-grade [grade]="gradetoedit"
(qualityUpdated)="updateGradeList($event)">
</app-edit-grade>