.hdr{
    background-color: goldenrod;
    border: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-display: inherit;
}
.bdr{
    background-color: chocolate;
    font-optical-sizing: 20;
    border: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-display: inherit;
}